<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<welcome-file-list>  
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ConnexionForum</servlet-name>
		<servlet-class>servlets.ConnexionForum</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForumServlet</servlet-name>
		<servlet-class>servlets.ForumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Topic</servlet-name>
		<servlet-class>servlets.Topic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Discussion</servlet-name>
		<servlet-class>servlets.Discussion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConnexionForum</servlet-name>
		<url-pattern>/connexion-forum</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Identification</servlet-name>
		<servlet-class>servlets.Identification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Identification</servlet-name>
		<url-pattern>/identification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>servlets.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Subscribe</servlet-name>
		<servlet-class>servlets.Subscribe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subscribe</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForumServlet</servlet-name>
		<url-pattern>/forum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Topic</servlet-name>
		<url-pattern>/topic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Discussion</servlet-name>
		<url-pattern>/discussion</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/ressource/header.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
</web-app>