<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<welcome-file-list>  
		<welcome-file>identification.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>ConnexionForum</servlet-name>
		<servlet-class>servlets.ConnexionForum</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Identification</servlet-name>
		<servlet-class>servlets.Identification</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConnectionServlet</servlet-name>
		<servlet-class>servlets.ConnectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubscribeServlet</servlet-name>
		<servlet-class>servlets.SubscribeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForumServlet</servlet-name>
		<servlet-class>servlets.ForumServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopicServlet</servlet-name>
		<servlet-class>servlets.TopicServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DiscussionServlet</servlet-name>
		<servlet-class>servlets.DiscussionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CloseDiscussionServlet</servlet-name>
		<servlet-class>servlets.CloseDiscussionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConnexionForum</servlet-name>
		<url-pattern>/connexion-forum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Identification</servlet-name>
		<url-pattern>/identification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionServlet</servlet-name>
		<url-pattern>/connection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubscribeServlet</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForumServlet</servlet-name>
		<url-pattern>/forum/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicServlet</servlet-name>
		<url-pattern>/topic/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DiscussionServlet</servlet-name>
		<url-pattern>/discussion/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicServlet</servlet-name>
		<url-pattern>/topic/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseDiscussionServlet</servlet-name>
		<url-pattern>/discussion/*/close</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/ressource/header.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
</web-app>